#Title{
	margin-top: 30vh;
	text-align: center;
	font-size: 6vw;
	font-family: "Roboto Mono";
	margin-bottom: 1vh;
}

#Contacts{
	text-align: right;
	font-size: 1.3vw;
	font-family: "Roboto Mono";
	margin-top: 3vh;
	margin-right: 1vw;
}

.email a{
	text-decoration: none;
	color: #4D88AF;
}

.email a:hover{
	color:green;
}

.lg{
	margin-left: 4vw;
}

.lg a{
	text-decoration: none;
	color: #4D88AF;
}

.lg a:hover{
	color:green;
}

#Sticks{
	margin-left: 27vw;
	margin-right: 27vw;
	margin-bottom: 7vh;
	/*white-space: nowrap;*/
	text-align: center;

}

#Stick2{
	display: inline-block;
}

#Stick3{
	display: inline-block;
}

#Stick1{
	display: inline-block;
}

.captions{
	font-family: "Roboto Mono";
	font-size: 1.3vw;
	text-align: center;
}

.hyperlink{
	text-decoration: none;
}